<form class="form-horizontal" name ="addItem">

<!-- Form Name -->
<legend>Add New Item</legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="img_up">Upload Image</label>
  <div class="col-md-4">
    <input name="img_up" class="input-file" id="img_up" type="file">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="describe">Item Description</label>
  <div class="col-md-4">                     
    <textarea name="describe" class="form-control" id="describe">Describe the item</textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="age">Item Age</label>  
  <div class="col-md-4">
  <input name="age" class="form-control input-md" id="age" required="" type="text" placeholder="Enter Item Age">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="addjunk"></label>
  <div class="col-md-4">
    <button name="addjunk" class="btn btn-primary" id="addjunk">Add Junk</button>
  </div>
</div>

</fieldset>
</form>