<div class = "row">
	<div class = "col-md-4" >
	<tr ng-repeat = "graph in graphs" ></tr>
		<div class="table" style="background-color:#096790; color: #fff"><h1>Online Users</h1></div>
		<div style=" border: 1px solid; text-align: center; font-size: 500%">{{graphs.length}}</div>
	</div>
	<div class = "col-md-4" ng-controller="usersCtrl">
	<tr ng-repeat = "user in users " ></tr>
		<div class="table" style="background-color:#096790; color: #fff"><h1>Total Users</h1></div>
		<div style = "border: 1px solid; text-align: center; font-size: 500%">{{users.length}}</div>
	</div>
	<div class = "col-md-4" ng-controller="itemsCtrl" >
	<tr ng-repeat = "item in items " ></tr>
		<div class="table" style="background-color:#096790; color: #fff"><h1>Total Items</h1></div>
		<div style = "border: 1px solid; text-align: center; font-size: 500%" >{{items.length}}</div>
	</div>
</div>