
<h2>List of ALL Items</h2>
      <div ng-app = "" ng-controller = "itemsCtrl">
      
         <table>
            <tr>
               <th>Name</th>
               <th>Description</th>
               <th>Upload Date</th>
               <th>Username</th>
               <th>Action</th>
            </tr>
         
            <tr ng-repeat = "item in items">
               <td>{{ item.itemname }}</td>
               <td>{{ item.itemdescription }}</td>
               <td>{{ item.uploaddate }}</td>
               <td>{{ item.username }}</td>
               <td>
               <button type="button" class="btn btn-danger" onclick="deleteItem()"><i class="fa fa-trash" aria-hidden="true"></i></button>
               </td>
            </tr>
         </table>
      </div>
