<h2>List Of ALL Requests</h2>
      <div ng-app = "" ng-controller = "requestsCtrl">

         <table class="table table-hover table-condensed">
            <tr>
               <th></th>
               <th>Requester</th>
               <th>Item</th>
               <th>Requestee</th>
               <th>Item</th>
               <th>Decision</th>
               <th>Deny Reason</th>
               <th>Time Requested</th>
               <th>Action</th>
            </tr>
         
            <tr ng-repeat = "request in requests" track-by ="$index">
            <td><input type="checkbox" ng-model="request.isDelete"/></td>
               <td>{{ request.requester }}</td>
               <td>{{ request.item2 }}</td>
               <td>{{ request.requestee }}</td>
               <td>{{ request.item }}</td>
               <td>{{ request.decision }}</td>
               <td>{{ request.denyreason }}</td>
               <td>{{ request.timerequested }}</td>
               <td>
               <button type="button" class="btn btn-danger" ng-click ="remove($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
               </td>
            </tr>
         </table>
      </div>
